@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
#title{
    padding: 10px;
    background-color: rgb(132, 74, 240);
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 100%;
    top: 0;
    /* position: sticky; */
}
#bod{
  background-color: rgb(223, 221, 221);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bod img{
  width: 90vw;
  height: 60vh;
  transition: 400ms;
}
#bod img:hover{
  transform: scale(1.1);
}
#bod h2{
  margin: 10px;
  margin-top: 30px;
}
nav ul{
    margin-top: 15px;
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    
}
nav li{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: rgb(121, 3, 3);
  cursor: pointer;
  transition: 400ms;
  
}
.nav-items{
  font-weight: bold;
}
nav img{
    height: 5em;
    width: auto;
}
nav p{
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
nav a{
    transition: transform 0.3s ease;
}
nav a:hover {
    transform: scale(1.1);
  }
nav li:hover{
  transform: scale(1.1, 1.1); 
}
nav li:hover > nav li:not(:hover){
  filter: blur(10px);
  transform: scale(0.9, 0.9);

}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  
}

thead {
  background-color: #711cd8;
  
}

footer{
  padding: 30px;
}
footer p,
footer ul {
  font-size: x-small;
}

footer h2,
footer h3,
footer p,
footer ul {
  color: grey;
}

#foot{
  margin: 0;
  margin-top: 30px;
  text-align: center;
  color: aliceblue;
  padding: 20px;
  font-size: medium;
  background-color: black;
  width: 100%;
  box-sizing: border-box;
}
